/***Importing default css code***/

a {
	
	text-decoration: none;
	

}


a.hover {
	
	text-decoration: underline;
	

}


h1, h2, h3, h4, h5, h6 {
	
	font-family: "AvantGarde-Book Bold", Calibri, "Calibri Light";
	
	font-weight: normal;
	
	text-transform: uppercase;
	
	line-height: 100%;
	
	margin: 0px;
	

}


h1 {
	
	font-size: 35px;
	
	text-transform: none;
	

}


h3 {
	
	font-size: 15px;
	
	color: #2388ad;
	

}


h4 {
	
	font-size: 13px;
	
	color: #3e92b3;
	

}


/*Main CSS*/

html {
	
	background-color: white;
	
	height: 100%;
	

}


#container {
	
	width: 1024px;
	
	height: 100%;
	
	background: white;
	
	margin: 1em auto;
	

}


#header {
	
	overflow: hidden;
	
	height: 41px;
	
	background-image: url(../images/header.png);
	
	text-align: center;
	
	margin-left: 0px;
	
	color: white;
	

}


.fb {
	
	float: right;
	
	margin-top: 8px;
	
	margin-right: 20px

}


#login {
	
	float: right;
	
	margin-top: -25px;
	
	margin-right: 25px;
	

}


aside {
	
	width: 500px;
	
	height: 200px;
	
	float: right;
	

}


.create_rides {
	
	margin-left: 325px;
	
	margin-top: 5px;
	

}


.textbox1 {
	
	height: 15px;
	
	width: 80px;
	
	padding: 0px;
	
	position: absolute;
	
	float: right;
	
	text-transform: capitalize;
	
	background-color: transparent;
	
	border: transparent;
	
	border-bottom: 1px solid black;
	
	margin-left: -10px;
	
	margin-top: 130px;
	
	color: #da002e;
	
	text-align: center;
	

}


.km {
	
	position: absolute;
	
	margin-left: 75px;
	
	margin-top: 135px;
	
	font-family: "helveticaNeueLT Std Cn";
	

}


.hours {
	
	position: relative;
	
	margin-left: 75px;
	
	top: 150px;
	
	font-family: "helveticaNeueLT Std Cn";
	

}


.companion {
	
	position: relative;
	
	margin-left: 75px;
	
	top: 150px;
	
	font-family: "helveticaNeueLT Std Cn";
	

}


.ban1 {
	
	margin-top: -500px;
	
	width: 455px;
	

}


/*overlapping images the car and the road sign*/
.ban2 {
	
	float: right;
	
	width: 215px;
	
	margin-top: 30px;
	

}


#user_details {
	
	top: 100px;
	
	float: left;
	
	margin-top: 10px;
	
	margin-left: 20px;
	
	width: 150px;
	
	z-index: 1;
	

}


#user_details .UpictureImage {
	
	margin-left: 100px;
	
	margin-top: 35px;
	

}


#user_details h3 {
	
	float: left;
	
	margin-top: 120px;
	
	text-align: center;
	
	margin-left: 5px;
	

}


.info ul{
	
	margin-top: -100px;
	

}


#name {
	
	font-family: "Calibri Light";
	
	border-bottom: 1px solid #999999;
	
	width: 200px;
	
	margin-left: 215px;
	

}


#gender, #language_spoken, #cars, #smoke, #likes {
	
	font-family: "Calibri Light";
	
	border-bottom: 1px solid #999999;
	
	width: 200px;
	
	margin-left: 215px;
	
	margin-top: -100px;
	

}


#smoke, #likes {
	
	font-family: "Calibri Light";
	
	border-bottom: 1px solid #999999;
	
	width: 200px;
	
	margin-left: 215px;
	
	margin-top: auto;
	

}


#user_details li {
	
	margin-top: 10px;
	

}


.link_to_createpage {
	
	color: white;
	

}


#submit_button {
	
	-moz-box-shadow: 0px 10px 14px -7px #276873;
	
	-webkit-box-shadow: 0px 10px 14px -7px #276873;
	
	box-shadow: 0px 10px 14px -7px #276873;
	
	background-color: #2388ad;
	
	-moz-border-radius: 8px;
	
	-webkit-border-radius: 8px;
	
	border-radius: 8px;
	
	display: inline-block;
	
	cursor: pointer;
	
	color: #ffffff;
	
	font-family: "AvantGarde-Book Bold";
	
	font-size: 12px;
	
	font-weight: bold;
	
	padding: 5px 10px;
	
	text-decoration: none;
	
	text-shadow: 0px 1px 0px #3d768a;
	
	margin: 5px 0px 5px 850px;
	

}


#content {
	
	background-color: #f7f7f7;
	
	height: 408px;
	margin-top: 295px;
	border-top: 1px solid #2388ad;
	

}


#requested_rides {
	
	width: 490px;
	
	margin-top: 15px;
	
	float: left;
	

}


#requested_rides h3 {
	
	margin-bottom: -10px;
	
	font-family: "AvantGarde-Book Bold";
	
	border-bottom: dotted;
	
	border-width: 1.5px;
	
	width: 135px;
	

}


#tab_request, #tab_my_req {
	
	font-size: 11.5px;
	
	font-family: "Calibri";
	
	color: #7a7a7a;

	margin-bottom: 20px;
	width:500px;

}
#tab_my_req{
	width:505px;
}

.tab_heading th{
	
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding:3px;
	text-align:left;
	width:150px;


}

#data_sample td {
	
	margin-top:10px;
	

}


#data_sample {
	
	width: 490px;
	
	color: black;
	
	font-size: 14px;
	
	font-family: "Calibri light";
	
	border-bottom: 1px solid #b8b8b8;

}


.when {
	
	padding-left: 5px;
	padding-top:5px;

}


.sd span {
	
	color: #2388ad;
	
	border-bottom: 1px dashed;
	
	font-weight: bold;
	

}


.lug {
	
	padding-left: 10px;
	

}


.stopver {
	
	padding-left: 10px;
	

}


.friends {
	
	padding-left:5px;
	

}
#rate{
	margin-top:5px;
	margin-left:-45px;
}
#accept{
	margin-top:5px;
	margin-left:-55px;
}
#tab_past_req {
	
	margin-top: -40px;
	

}


.tab_past_head th {
	
	text-transform: uppercase;
	
	font-family: "Calibri";
	
	font-weight: bolder;
	
	color: #3e92b3;
	
	border-top: 1px solid #3e92b3;
	
	border-bottom: 1px solid #3e92b3;
	
	padding-top: 3px;
	
	padding-bottom: 3px;
	

}


#data_sample_past_req td {
	
	padding-top: 10px;
	
	padding-bottom: 10px;
	

}


#data_sample_past_req {
	
	width: 490px;
	
	color: black;
	
	font-size: 14px;
	
	font-family: "Calibri light";
	
	border-bottom: 1px solid #b8b8b8;
	

}


.when_past_req {
	
	padding-left: 10px;
	
	color: #7a7a7a;
	

}


.sd_past_req span {
	
	color: #2388ad;
	
	border-bottom: 1px dashed;
	

}


.lug_past_req {
	
	color: #7a7a7a;
	
	padding-left: 10px;
	

}


.stopver_past_req {
	
	color: #7a7a7a;
	
	padding-left: 30px;
	
	padding-right: 10px;
	

}


.friends_past_req {
	
	padding-left: 10px;
	
	padding-right: 15px;
	
	color: #7a7a7a;
	

}


/*************************/
/******Offered rides******/
/*************************/
#offered_rides {
	
	width: 500px;
	
	margin-top: 15px;
	
	float: right;
	

}


#offered_rides h3 {
	
	margin-bottom: -10px;
	
	font-family: "AvantGarde-Book Bold";
	
	border-bottom: dotted;
	
	border-width: 1.5px;
	
	width: 115px;
	
	

}


#tab_offer, #tab_my_offer {
	
	font-size: 11.5px;
	
	font-family: "Calibri";
	
	color: #7a7a7a;
	
	margin-bottom: 20px;
	

}

.heading_offer th {
	
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding:3px;
	text-align:left;
	width:150px;
	

}


#sample_offer td {
	
	padding-top: 10px;
	
	padding-bottom: 10px;
	

}


#sample_offer {
	
	width: 490px;
	
	color: black;
	
	font-size: 14px;
	
	font-family: "Calibri light";
	
	border-bottom: 1px solid #b8b8b8;
	

}


.when_offer {
	
	padding-left: 10px;
	

}


.sd_offer span {
	
	color: #2388ad;
	
	border-bottom: 1px dashed;
	
	font-weight: bold;
	

}


.lug_offer {
	
	padding-left: 20px;
	

}


.stopver_offer {
	
	padding-left: 30px;
	

}


.friends_offer {
	
	padding-left: 20px;
	

}


#past_offer {
	
	margin-top: -40px;
	

}


.past_head_offer th {
	
	text-transform: uppercase;
	
	font-family: "Calibri";
	
	font-weight: bolder;
	
	color: #3e92b3;
	
	border-top: 1px solid #3e92b3;
	
	border-bottom: 1px solid #3e92b3;
	
	padding-top: 3px;
	
	padding-bottom: 3px;
	

}


#sample_past_offer td {
	
	padding-top: 10px;
	
	padding-bottom: 10px;
	

}


#sample_past_offer {
	
	width: 490px;
	
	color: black;
	
	font-size: 14px;
	
	font-family: "Calibri light";
	
	border-bottom: 1px solid #b8b8b8;
	

}


.when_past_offer {
	
	padding-left: 10px;
	
	color: #7a7a7a;
	

}


.sd_past_offer span {
	
	color: #2388ad;
	
	border-bottom: 1px dashed;
	

}


footer {
	
	bottom: -60px;
	
	background-image: url(../images/footer.png);
	
	text-align: center;
	
	color: white;
	
	margin-bottom: 0px;
	

}


#footer_nav h4 {
	
	color: #7a7a7a;
	
	clear: both;
	

}


footer li {
	
	display: inline-table;
	
	margin-top: 5px;
	

}


footer li h4 {
	
	margin-top: 5px;
	
	font-family: "AvantGarde Bk BT";
	
	font-size: 100%

}


footer img {
	
	margin-top: 15px;
	

}


#footer_nav .contact {
	
	margin-top: 22px;
	

}


#footer_nav a {
	
	float: left;
	
	font-size: 15px;
	
	font-family: "Calibri";
	
	color: #7a7a7a;
	
	margin-top: -5px;
	
	margin-left: 35px;
	
	margin-right: 5px;
	
	height: 80px;
	
	width: 100px;
	

}


#footer_nav a:hover {
	
	background-image: url(../images/hover_footer.png);
	

}


/****REQUEST/CREATE RIDE PAGE STYLE****/

.request {
	
	color: #136786;
	
	text-align: center;
	
	font-size: 18px;
	
	font-family: "AvantGarde-Book";
	
	border-bottom: 1px dashed;
	
	margin-left: 420px;
	
	width: 140px;
	

}


#request_form {
	
	font-family: "Calibri Light";
	
	margin-top: -9px;
	
	margin-bottom: 550px;
	
	margin-left: 285px;
	
	background-color: #3e92b3;
	
	width: 400px;
	
	height: 345px;
	

}


#triangle-down {
	
	width: 0;
	
	height: 0;
	
	position: relative;
	
	top: 360px;
	
	left: 285.5px;
	
	border-left: 200px solid transparent;
	
	border-right: 200px solid transparent;
	
	border-top: 25px solid #3e92b3;
	

}


table {
	
	width: 100%;
	
	border: 0px;
	
	padding: 0px;
	
	border-spacing: 10px;
	

}


.label_form {
	
	position: absolute;
	
	padding-bottom: 5px;
	
	color: white;
	
	margin-left: 55px;
	
	margin-top: -5px;
	
	border-bottom: 1px solid #002e63;
	
	width: 270px;
	
	font-family: "Calibri";
	
	font-weight: semi-bold;
	

}


#sex {
	
	margin-left: 150px;
	
	margin-top: 10px;
	

}


#smoking {
	
	margin-left: 150px;
	
	margin-top: 20px;
	

}


.sourceIcon, .sourceIcon2, .calendar_icon, .luggage, .stop, .friend {
	
	margin-left: 20px;
	

}


#boundary {
	
	position: absolute;
	
	width: 76%;
	
	top: 510px;
	
	border-top: 2px solid #3e92b3;
	

}


#tab th {
	
	text-transform: uppercase;
	
	font-family: "AvantGarde-Book";
	
	color: #3e92b3;
	
	text-align: center;
	

}


.textbox {
	
	height: 30px;
	
	width: 190px;
	
	margin-left: 130px;
	
	background-color: transparent;
	
	border-style: solid;
	
	border-width: 0px 0px 1px 0px;
	
	padding: 5px 10px;
	
	border-color: transparent;
	
	color: #a2d9ed;
	
	text-transform: capitalize;
	
	font: bold 13.5px "AvantGarde-Book Bold";
	

}


#request_ride {
	
	-moz-box-shadow: 0px 10px 14px -7px #276873;
	
	-webkit-box-shadow: 0px 10px 14px -7px #276873;
	
	box-shadow: 0px 10px 14px -7px #276873;
	
	background-color: transparent;
	
	-moz-border-radius: 8px;
	
	-webkit-border-radius: 8px;
	
	border-radius: 8px;
	
	display: inline-block;
	
	cursor: pointer;
	
	color: #ffffff;
	
	font-family: "AvantGarde-Book";
	
	font-size: 12px;
	
	font-weight: bold;
	
	padding: 5px 10px;
	
	text-decoration: none;
	
	text-shadow: 0px 1px 0px #3d768a;
	
	margin-left: 140px;
	
	margin-top: 25px;
	

}


#request_ride:hover, #submit_button:hover {
	
	background-color: #136786;
	

}


#request_ride:active, #submit_button:active {
	
	position: relative;
	
	top: 1px;
	

}


#map_canvas {
	
	border: 2px solid #2388ad;
	
	position: absolute;
	
	top: 550px;
	
	right: 420px;
	
	overflow: auto;
	
	margin-left: 640px;
	

}


#map_canvas_home {
	
	display: none;
	

}


/***MEMBER PAGE STYLE***/
legend{
	float:left;
    color: #136786;
	text-align: center;
	font:normal 15px "AvantGarde-Book";
	border-bottom: 1px dashed;
	margin-left: 410px;
    margin-top:10px;
	width: 170px;
    
    
}
#Indx{
    color: #136786;
	text-align: center;
	font-size: 15px;
	font-family: "AvantGarde-Book";
    margin:10px 0 10px 0;
	width: 60px;
    display:none;
    
}
#add_photo{
 -webkit-border-radius: 1;
  -moz-border-radius: 1;
  border-radius: 1px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  font-family: "Calibri"; 
  text-transform:Uppercase; 
  background: #1d89aa;
  padding: 50px 20px 50px 20px;
  margin-left:415px; 
  border:none; 
  margin-top:20px;  
  margin-bottom:20px;  
}
#add_photo:hover, #add_car:hover, #add_likes:hover{
  background: #37a9cc;
  text-decoration: none;
    
}
.mem_id{
   margin-left:330px;
   font:normal 16px "Calibri";
   color:#a3a7aa; 
}
#member_info ul li{
    padding:10px;
    
}
.fullname{
   margin-left:300px;
   font:normal 16px "Calibri";
   color:#a3a7aa;
    
}
#fullname{
   margin-left:300px;
   margin-top:5px;
   width:350px;
    
}
.gend{
   margin-left:230px;
   font:normal 16px "Calibri";
   color:#a3a7aa;
   
    
}

.radio_button{
	margin-left: 230px;
	margin-top: 10px;
}
.radio_button2{
	margin-left: 339px;
	margin-top: -39px;
}
.radio_button3{
	float:right;
	margin-right: 330px;
	margin-top: -76px;
	
}
.radio_button4{
	float:right;
	margin-right: 221px;
	margin-top: -76px;

	
}

.smock{
   float:right;
   font:normal 16px "Calibri";
   color:#a3a7aa;
   margin-top:-90px;
   margin-right:350px;
    
    
}

.like{
   float:left;
   margin-left:230px;
   margin-top:-50px;
   font:normal 16px "Calibri";
   color:#a3a7aa;
    
}
#like{
   margin-left:230px;
   margin-top:-60px; 

}
#car_info ul{
    margin-top:20px;
    
}
.car_fo{
    display:none;
}
#car_info ul label{
   
   margin-left:150px;
   font:normal 16px "Calibri";
   color:#a3a7aa;
}
#model, #capicity{
    margin-top:10px;
    margin-left:150px;
    
}
.capacity{
    float:right;
    margin-right:550px;
    margin-top:-60px;
    
}
#capicity{
    margin-left:415px;
    margin-top:-68px;
    border:1px solid black;
    padding:5px 5px;
    
}
#add_likes{
    float:right;
    margin-top:-190px;
    margin-right:220px;
    color: #ffffff;
    text-transform:Uppercase; 
    background: #1d89aa;
    border:none; 
    padding:5px 60px;
    font:normal 16px "Calibri";
    text-transform:uppercase;
}
#add_car{
    float:right;
    margin-top:-70px;
    margin-right:170px;
    color: #ffffff;
    text-transform:Uppercase; 
    background: #1d89aa;
    border:none; 
    padding:5px 60px;
    font:normal 16px "Calibri";
    text-transform:uppercase;
}
#_id{
    border:1px solid black;
    padding:5px 5px;
}
#fullname,#like, #model{
    border:1px solid black;
    padding:5px 40px;
    
}

#update{
    margin:auto 0 20px 350px;
    color: #ffffff;
    text-transform:Uppercase; 
    background: #252525;
    border:none; 
    padding:5px 60px;
    font:normal 12px "AvantGarde Bk BT";
    text-transform:uppercase;
}
#cancel{
    margin:auto 0 20px 0px;
    color: #ffffff;
    text-transform:Uppercase; 
    background: #252525;
    border:none; 
    padding:5px 60px;
    font:normal 12px "AvantGarde Bk BT";
    text-transform:uppercase;
}

#update:hover, #cancel:hover{
    background:#343434;

    
}
/****adjustment for Chrome***/
@media screen and (-webkit-min-device-pixel-ratio:0) {
	
.textbox1 {
		
	border-width: 1px 0px 1px 0px;
		
	margin-top: 145px;
		

	}

	
#km {
		
	top: 45px;
		

	}

	
.textbox {
		
	font-size: 11.5px;
		
	width: 180px;
		
	margin-left: 140px;
		

	}

	
#request_form {
		
	margin-left: 300px;
		

	}

	
.label_form {
		
	margin-top: 20px;
		

	}

	
#sex {
		
	margin-top: 10px;
		
	margin-bottom: 20px;
		

	}

	
#smoking {
		
	margin-top: 10px

	}

	
#triangle-down {
		
	left: 300px;
		

	}

	
#add_likes{
	float:right;
	margin-top:-125px;
	
}	
#like{
	float:left;
	margin-top:-20px;
}
.like{
	float:left;
	margin-top:-30px;
}
#capicity{
	float:left;
	margin-top:-46px;
}
#add_car{
	margin-top:-46px;
}

legend{
	float:left;
    margin-top:20px;
	font:normal 18px "AvantGarde-Book";
}
}

