body {
    font-size: 14px;
}

h1, h2, h3, h4 {
    font-weight: normal;
    font-size: 1.5em;
}

code {
	display: block;
}
div#header {
    display: block;
    height: 128px;
}
div#navigation {
    font-size: 1.5em;
	display: block;
}
	div#navigation ul {
		margin: 0px;
		padding: 0px;
	}
		div#navigation ul li {
			list-style: none;
			float: left;
			margin-right: 16px;
		} 

  		div#navigation ul li.active {
			font-weight: bold;
		} 

div.user {
    float: left;
    margin-right: 16px;
}

div.user ul {
	margin: 0px;
	padding: 0px;
}

div.user ul li {
    list-style: none;
    display: block;
    margin-bottom: 8px;
    height: 56px;
}

div.user ul li img{
    float: left;
    display: block;
    margin-right: 16px;
}


div.user ul li span.user_name{
    float: right;
    display: block;
}

ul.my {

}

ul.general {
	position: absolute;
	top: 34px;
	left: 152px;
}

.business, .person, .action, .job, .task  {
    margin-bottom: 16px;
}

/* begin form css */

.button {
    font-weight: bold;
    text-decoration: underline;
}

form {
	margin-top: 8px;
	margin-bottom: 8px;


}
form fieldset {
	padding: 1em;
	max-width: 512px;
}

form fieldset ul li {
	list-style: none;
	margin-bottom: 4px;
}

form fieldset ul li label {
	float:left;
	width:32%;
	margin-right:0.5em;
	padding-top:0.2em;
	text-align:right;
	font-weight:bold;
}
/* end form css */
