<link rel="stylesheet" type="text/css" href="styles/css/base.css" />

<fb:tabs>
  <fb:tab-item href='http://apps.facebook.com/social_farm/manage/' title='My Businesses' selected='true' />
  <fb:tab-item href='http://apps.facebook.com/social_farm/events/' title='My Business Events' />
</fb:tabs>

<fb:header icon="false">
Manage Payment Distribution for Business {{ bname }}:
</fb:header>

{% ifequal res_code 'BAD_DIST' %}
	<div class="notice_red">ERROR: Invalid payment distribution set. The total must equal 100%.</div>
{% endifequal %}
{% ifequal res_code 'SUCC' %}
	<div class="notice_blue">The payment distribution has been updated for the business.</div>
{% endifequal %}
<form action="." method="post">
	<div class="table_div">
	<table><tbody> 
		<tr>
			<th class="name_heading even_colomn"><strong>Member Name</strong></th>
			<th nowrap="nowrap"><strong>Payment Percent</strong></th>
		</tr>
	{% for gid, gname, pay in group_list %}
    	<tr>
			<td class="action_text even_colomn">{{ gname }}</td>
			<td><input type="text" name={{ gid }} value={{ pay }} maxlength=3 /></td>
		</tr>
	{% empty %}
		<tr>
			<td><font class="notice_red">Error:</font></td>
			<td><font class="notice_red">0 groups defined</font></td>
		</tr>
	{% endfor %}
		<tr>
			<td class="action_text even_colomn">Total</td>
			<td>{{ pay_tot }}</td>
		</tr>
	</tbody></table>
	</div>
	<input name="submit" type="submit" value="Submit"/> 
	or <a href="http://apps.facebook.com/social_farm/manage/">Done</a>
</form>